<html>
    <head>
        <title></title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>{{ brand.getName }}</h1>

            {% if stores is not empty %}
                <p>This brand is offered at the following stores:</p>
                <ul>
                    {% for store in stores %}
                        <li><a href='/store/{{ store.getId }}'>{{ store.getName }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form action='/brand/{{ brand.getid }}/add_store' method='post'>
                <div class='form-group'>
                    <input id='brand_id' name='brand_id' type='hidden' value='{{ brand.getId() }}'>
                    <label for='store_id'>Select a store</label>
                    <select id='store_id' name='store_id' class='selectpicker' type='text'>
                        {% for store in all_stores %}
                            <option value='{{ store.getId() }}'>{{ store.getName }}</option>
                        {% endfor %}
                    </select>
                </div>


                <button type='submit' class='btn btn-info'>Add</button>
            </form>



            <p><a href='/'>Home</a></p>
        </div>

    </body>
</html>
