<html>
    <head>
        <title></title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>{{ store.getName }}</h1>

            {% if brands is not empty %}
                <p>This store offers the following brands:</p>
                <ul>
                    {% for brand in brands %}
                        <li><a href='/brand/{{ brand.getId }}'>{{ brand.getName }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h4>Add a brand to this store:</h4>

            <form action='/store/{{ store.getId }}/add_brand' method='post'>
                <div class='form-group'>
                    <input id="store_id" name="store_id" type="hidden" value="{{ store.getId }}">

                    <label for="brand_id">Select a brand</label>

                    <select id='brand_id' name='brand_id' class='selectpicker' type='text' >
                        {% for brand in all_brands %}
                            <option value="{{ brand.getId }}">{{ brand.getName }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type='submit' class='btn btn-info'>Add</button>
            </form>

            <p><a href='/store/{{ store.getId }}/edit'>Edit this store name</a></p>

            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
